.about-section {
  display: flex;
  align-items: flex-start;
  padding: 120px 60px 60px 60px;
  margin-bottom: 1.5rem;
}

.about-section > article {
  width: 50%;
}

.about-section > article > img {
  width: 100%;
  padding-left: 60px;
}

.about-section form {
  display: flex;
  justify-content: stretch;
  gap: 16px;
  width: 80%;
  max-width: 60%;
}

.about-section form .email {
  min-width: 350px;
}

@media (max-width: 768px) {
  .about-section {
    flex-wrap: wrap-reverse;
    padding: 60px 30px;
  }
  .about-section > article > img {
    padding-left: unset;
    margin-bottom: 5rem;
  }
  .about-section article {
    width: 100%;
    text-align: center;
  }
  .about-section form {
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: unset;
  }
  .about-section form .email {
    min-width: unset;
  }
  .about-section form input {
    width: 100%;
  }
}
