.curve-image {
  width: 100%;
  margin-bottom: -4px;
}

.features-section {
  display: flex;
  padding: 120px 60px 60px 60px;
  background-color: hsl(240, 75%, 98%);
}

.features-section > article {
  width: 50%;
}

.features-section > article > img {
  width: 100%;
  padding-left: 60px;
}

.features-link > a {
  color: hsl(170, 45%, 43%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  text-decoration: none;
  border-bottom: 1px solid hsl(170, 45%, 43%);
  width: fit-content;
  padding-bottom: 0.25rem;
  margin-bottom: 2rem;
}

.features-link > a:hover {
  border-bottom: 1px solid hsl(170, 56%, 56%);
  color: #50ceb9;
}

@media (max-width: 768px) {
  .features-section {
    flex-wrap: wrap-reverse;
    padding: 60px 30px;
    text-align: center;
  }
  .features-section article {
    width: 100%;
  }
  .features-section p {
    text-align: left;
  }
  .features-link {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .features-section > article > img {
    padding-left: unset;
    margin-bottom: 5rem;
  }
}
