.testimonial {
  background-color: #ffffff;
  box-shadow: 2px 2px 20px 2px rgb(0 0 0 / 15%);
  border-radius: 6px;
  padding: 30px 60px;
  max-width: 460px;
}

.testimonial > img {
  height: 24px;
  margin-bottom: 1.5rem;
}

.testimonial p {
  line-height: 2rem;
  width: 100%;
}

.testimonial > div {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.testimonial h3 {
  font-size: 1.25rem;
  margin-bottom: 0;
}

.testimonial > div > img {
  border-radius: 90px;
  width: 60px;
  height: 60px;
}
